<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="SpecBind" version="2.1.1.436" targetFramework="net46" />
  <package id="SpecBind.CodedUI" version="2.1.1.436" targetFramework="net46" />
  <package id="SpecBindGeneratorPlugin.SpecFlow" version="2.1.1.436" targetFramework="net46" />
  <package id="SpecFlow" version="2.2.0" targetFramework="net46" />
  <package id="SpecFlow.CustomPlugin" version="2.2.0" targetFramework="net46" />
  <package id="TestAutomationEssentials.CodedUI" version="1.3.7009.27215" targetFramework="net46" />
</packages>